In [4]:
import pandas as pd

In [ ]:
df = pd.read_excel('../../data/L3.xlsx')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11869 entries, 0 to 11868
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Công lập (1/0)  11869 non-null  int64
 1   Tỉnh/TP         11869 non-null  object
 2   Tổ hợp môn      11868 non-null  object
 3   Điểm chuẩn      10878 non-null  float64
 4   Học phí         10748 non-null  float64
 5   hoc ki          11869 non-null  int64
 6   hanh kiem 10    11869 non-null  int64
 7    hanh kiem 11   11869 non-null  object
 8   hanh kiem 12    11869 non-null  int64
 9   ten ccta        11869 non-null  object
 10  diem ccta       11869 non-null  object
 11  diem quy doi    11869 non-null  float64
 12  awards          11865 non-null  object
 13  hoc luc 10      11869 non-null  object
 14  hoc luc 11      11869 non-null  object
 15  hoc luc 12      11869 non-null  object
 16  nhom_nganh      11869 non-null  int64
 17  truongnganhpt   11869 non-null  object
dtypes: float64(3), int64(5), object(10)
memory usage: 1.6+ MB

In [43]:
df["truongnganhpt"].value_counts()

truongnganhpt
SPK7380101Vhb    54
SPK7310403Vhb    54
SPK7850101Vhb    45
SPK7210403Vhb    45
SPK7580103Vhb    45
                 ..
DVT7210201hb      1
DKC7210205hb      1
DBL7140201hb      1
DTM7850197hb      1
QSY7720115hb      1
Name: count, Length: 1498, dtype: int64

In [44]:
# lây 3 kí tự đầu tiên của cột truongnganhpt làm mã trường
df['ma_truong'] = df['truongnganhpt'].str[:3]

In [45]:
len(df['ma_truong'].unique())

54

In [46]:
df['ma_truong'].value_counts()

ma_truong
SPK    3042
BVU     608
HIU     468
DVH     466
DVL     440
QSX     423
TCT     377
NTT     299
DTD     291
UEF     288
TDM     288
IUH     268
DCD     264
PTI     252
DKC     249
MTU     210
DBD     204
DCG     199
DLH     198
VNU     192
KCC     176
SPD     176
DVT     163
DNT     160
DNC     159
HSU     155
NLS     148
QSA     148
DCT     136
DCL     124
DMD      96
TKG      96
DTM      95
VGU      80
EIU      80
HHK      76
UTC      73
DBL      73
GTS      73
SIU      70
TTG      68
DKB      67
DLA      56
VHS      52
VTT      44
DHV      38
TTU      37
ULS      36
UMT      32
DSG      24
HCH      20
QSY       5
PVU       4
DNU       3
Name: count, dtype: int64

In [47]:
# Set lại học phí của trường QSA là 30 triệu
df.loc[df['ma_truong'] == 'QSA', 'Học phí'] = 30000000

In [48]:
df[df["ma_truong"] == "QSA"]

,Công lập (1/0),Tỉnh/TP,Tổ hợp môn,Điểm chuẩn,Học phí,hoc ki,hanh kiem 10,hanh kiem 11,hanh kiem 12,ten ccta,diem ccta,diem quy doi,awards,hoc luc 10,hoc luc 11,hoc luc 12,nhom_nganh,truongnganhpt,ma_truong
0,1,An Giang,M00,23.45,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,714,QSA7140201hb,QSA
1,1,An Giang,M01,23.45,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,714,QSA7140201hb,QSA
2,1,An Giang,M10,23.45,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,714,QSA7140201hb,QSA
3,1,An Giang,M13,23.45,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,714,QSA7140201hb,QSA
4,1,An Giang,A00,27.40,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,714,QSA7140202hb,QSA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,1,An Giang,D08,26.00,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,764,QSA7640101hb,QSA
144,1,An Giang,A00,23.80,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,785,QSA7850101hb,QSA
145,1,An Giang,B00,23.80,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,785,QSA7850101hb,QSA
146,1,An Giang,C15,23.80,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,785,QSA7850101hb,QSA
147,1,An Giang,D01,23.80,30000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,785,QSA7850101hb,QSA

In [49]:
# drop row truongnganhpt = PVU7480101hb
df = df[df['truongnganhpt'] != 'PVU7480101hb']

In [50]:
# fill NaN cho cột Học phí của trường DMD là 25 triệu
df.loc[(df['ma_truong'] == 'DMD') & (df['Học phí'].isna()), 'Học phí'] = 25000000
df.loc[(df['ma_truong'] == 'DVH') & (df['Học phí'].isna()), 'Học phí'] = 50000000

In [52]:
df[df['ma_truong'] == 'DVH']

,Công lập (1/0),Tỉnh/TP,Tổ hợp môn,Điểm chuẩn,Học phí,hoc ki,hanh kiem 10,hanh kiem 11,hanh kiem 12,ten ccta,diem ccta,diem quy doi,awards,hoc luc 10,hoc luc 11,hoc luc 12,nhom_nganh,truongnganhpt,ma_truong
5932,0,TP. Hồ Chí Minh,A00,18.0,45000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,734,DVH7340101hb,DVH
5933,0,TP. Hồ Chí Minh,A01,18.0,45000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,734,DVH7340101hb,DVH
5934,0,TP. Hồ Chí Minh,C04,18.0,45000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,734,DVH7340101hb,DVH
5935,0,TP. Hồ Chí Minh,D01,18.0,45000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,734,DVH7340101hb,DVH
5936,0,TP. Hồ Chí Minh,A00,18.0,45000000.0,345,0,0,0,0,0,0.0,0,0,0,0,734,DVH7340101hb,DVH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6393,0,TP. Hồ Chí Minh,D01,18.0,50000000.0,12345,0,0,0,0,0,0.0,0,0,0,0,721,DVH7210302hb,DVH
6394,0,TP. Hồ Chí Minh,A00,18.0,50000000.0,345,0,0,0,0,0,0.0,0,0,0,0,721,DVH7210302hb,DVH
6395,0,TP. Hồ Chí Minh,D01,18.0,50000000.0,345,0,0,0,0,0,0.0,0,0,0,0,721,DVH7210302hb,DVH
6396,0,TP. Hồ Chí Minh,A00,18.0,50000000.0,56,0,0,0,0,0,0.0,0,0,0,0,721,DVH7210302hb,DVH
6397,0,TP. Hồ Chí Minh,D01,18.0,50000000.0,56,0,0,0,0,0,0.0,0,0,0,0,721,DVH7210302hb,DVH

In [53]:
df.to_excel('../../data/L3.xlsx', index=False)

In [5]:
df_l1 = pd.read_excel('../../data/L1.xlsx')
df_spk = df_l1[df_l1['truong-nganh-ptxt'].str.contains('SPK')]

In [6]:
df_spk["nganh"] = df_spk["truong-nganh-ptxt"].str.extract(r'SPK-([^-]+)-')

/var/folders/fx/pwxbtsr91db75yjrw7q39zf00000gp/T/ipykernel_22398/2694765240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_spk["nganh"] = df_spk["truong-nganh-ptxt"].str.extract(r'SPK-([^-]+)-')

In [7]:
df_spk

,Công lập (1/0),Tỉnh/TP,Tổ hợp môn,Điểm chuẩn,Học phí,hsg_1,hsg_2,hsg_3,hsg_4,hb_3,ahld,dan_toc_thieu_so,haimuoi_huyen_ngheo_tnb,pri_school,truong-nganh-ptxt,nganh
57740,1,TP. HCM,"(Toán, Lý, Anh)",NaN,32000000.0,0,0,0,0,0,0,1,0,0,SPK-7510106V-Ưu Tiên,7510106V
57741,1,Bình Phước,"(Toán, Lý, Hoá)",NaN,NaN,0,0,0,0,0,1,0,0,0,SPK-7480201BP-Ưu Tiên,7480201BP
57742,1,TP. HCM,"(Toán, Văn, Lý)",NaN,32000000.0,0,0,0,0,0,1,0,0,0,SPK-7480118V-Ưu Tiên,7480118V
57743,1,Bình Phước,"(Toán, Lý, Anh)",NaN,NaN,0,0,0,0,0,0,0,1,0,SPK-7510201BP-Ưu Tiên,7510201BP
57744,1,TP. HCM,"(Toán, Lý, Hoá)",NaN,32000000.0,0,0,0,0,0,0,0,1,0,SPK-7480118V-Ưu Tiên,7480118V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62685,1,TP. HCM,"(Toán, Văn, Anh)",NaN,58000000.0,0,0,0,Văn,1,0,0,0,0,SPK-7480108A-Ưu Tiên,7480108A
62686,1,TP. HCM,"(Toán, Văn, Anh)",NaN,58000000.0,Anh,0,0,0,0,0,0,0,0,SPK-7480108A-Ưu Tiên,7480108A
62687,1,TP. HCM,"(Toán, Văn, Anh)",NaN,58000000.0,0,Anh,0,0,0,0,0,0,0,SPK-7480108A-Ưu Tiên,7480108A
62688,1,TP. HCM,"(Toán, Văn, Anh)",NaN,58000000.0,0,0,Anh,0,0,0,0,0,0,SPK-7480108A-Ưu Tiên,7480108A
62689,1,TP. HCM,"(Toán, Văn, Anh)",NaN,58000000.0,0,0,0,Anh,1,0,0,0,0,SPK-7480108A-Ưu Tiên,7480108A

In [8]:
df_spk[["nganh", "Tổ hợp môn"]].drop_duplicates().sort_values(by="nganh").reset_index(drop=True)

        nganh             Tổ hợp môn
0    7140231V       (Anh, Toán, Tin)
1    7140231V        (Anh, Toán, Sử)
2    7140231V       (Anh, Toán, Địa)
3    7140231V       (Anh, Văn, Toán)
4    7140246V        (Toán, Văn, Lý)
..        ...                    ...
333  7850101V       (Toán, Anh, Hoá)
334  7850101V       (Toán, Anh, Văn)
335  7850101V        (Toán, Anh, Lý)
336  7850101V   (Toán, Anh, GDKT&PL)
337  7850101V      (Toán, Anh, Sinh)

[338 rows x 2 columns]

In [13]:
spk_hb = pd.read_excel('../../data/spk_hb.xlsx')
spk_hb

,STT,Mã ngành,Tên ngành,Tổ hợp,Ghi chú
0,1. Chương trình đào tạo bằng tiếng Việt,1. Chương trình đào tạo bằng tiếng Việt,1. Chương trình đào tạo bằng tiếng Việt,1. Chương trình đào tạo bằng tiếng Việt,1. Chương trình đào tạo bằng tiếng Việt
1,1,7140231V,Sư phạm tiếng Anh (đào tạo bằng tiếng Việt),D01; D09; D10; X26,Anh nhân hệ số 2
2,2,7140246V,Sư phạm công nghệ (đào tạo bằng tiếng Việt),A00; A01; C01; D01,Toán nhân hệ số 2
3,3,7210403V,Thiết kế đồ họa (đào tạo bằng tiếng Việt),V01; V02; V07; V08; V10,Vẽ TT nhân hệ số 2
4,4,7210404V,Thiết kế thời trang (đào tạo bằng tiếng Việt),V01; V07; V08; V09; V11,Vẽ TT nhân hệ số 2
...,...,...,...,...,...
85,82,7510301BP,"Công nghệ Kỹ thuật điện, điện tử (đào tạo tại ...",A00; A01; C01; D01,Toán nhân hệ số 2
86,83,7510303BP,Công nghệ Kỹ thuật điều khiển và tự động hóa (...,A00; A01; C01; D01,Toán nhân hệ số 2
87,84,7510601BP,Quản lý công nghiệp (đào tạo tại phân hiệu Bìn...,A00; A01; C01; D01,Toán nhân hệ số 2
88,85,7510605BP,Logistics và quản lý chuỗi cung ứng (đào tạo t...,A00; A01; C01; D01,Toán nhân hệ số 2
89,86,7580302BP,Quản lý xây dựng (đào tạo tại phân hiệu Bình P...,A00; A01; C01; D01,Toán nhân hệ số 2

In [14]:
# Drop row mà col Ghi chú có gia trị giống với col Mã ngành
spk_hb = spk_hb[spk_hb["Ghi chú"] != spk_hb["Mã ngành"]]

In [24]:
spk_hb=spk_hb[["Mã ngành", "Ghi chú"]]
spk_hb

     Mã ngành             Ghi chú
1    7140231V    Anh nhân hệ số 2
2    7140246V   Toán nhân hệ số 2
3    7210403V  Vẽ TT nhân hệ số 2
4    7210404V  Vẽ TT nhân hệ số 2
5    7220201V    Anh nhân hệ số 2
..        ...                 ...
85  7510301BP   Toán nhân hệ số 2
86  7510303BP   Toán nhân hệ số 2
87  7510601BP   Toán nhân hệ số 2
88  7510605BP   Toán nhân hệ số 2
89  7580302BP   Toán nhân hệ số 2

[86 rows x 2 columns]

In [9]:
df_spk=df_spk[["nganh", "Tổ hợp môn"]]
df_spk = df_spk.drop_duplicates().sort_values(by="nganh").reset_index(drop=True)
df_spk

        nganh             Tổ hợp môn
0    7140231V       (Anh, Toán, Tin)
1    7140231V        (Anh, Toán, Sử)
2    7140231V       (Anh, Toán, Địa)
3    7140231V       (Anh, Văn, Toán)
4    7140246V        (Toán, Văn, Lý)
..        ...                    ...
333  7850101V       (Toán, Anh, Hoá)
334  7850101V       (Toán, Anh, Văn)
335  7850101V        (Toán, Anh, Lý)
336  7850101V   (Toán, Anh, GDKT&PL)
337  7850101V      (Toán, Anh, Sinh)

[338 rows x 2 columns]

In [27]:
# join df_spk with spk_hb on nganh
df_merged = pd.merge(df_spk, spk_hb, left_on="nganh", right_on="Mã ngành", how="left")
df_merged

        nganh             Tổ hợp môn  Mã ngành            Ghi chú
0    7140231V       (Anh, Toán, Tin)  7140231V   Anh nhân hệ số 2
1    7140231V        (Anh, Toán, Sử)  7140231V   Anh nhân hệ số 2
2    7140231V       (Anh, Toán, Địa)  7140231V   Anh nhân hệ số 2
3    7140231V       (Anh, Văn, Toán)  7140231V   Anh nhân hệ số 2
4    7140246V        (Toán, Văn, Lý)  7140246V  Toán nhân hệ số 2
..        ...                    ...       ...                ...
333  7850101V       (Toán, Anh, Hoá)  7850101V  Toán nhân hệ số 2
334  7850101V       (Toán, Anh, Văn)  7850101V  Toán nhân hệ số 2
335  7850101V        (Toán, Anh, Lý)  7850101V  Toán nhân hệ số 2
336  7850101V   (Toán, Anh, GDKT&PL)  7850101V  Toán nhân hệ số 2
337  7850101V      (Toán, Anh, Sinh)  7850101V  Toán nhân hệ số 2

[338 rows x 4 columns]

In [10]:
df_spk.to_excel('../../data/spk_hb_thm.xlsx', index=False)

In [2]:
df_spk

NameError: name 'df_spk' is not defined