In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("../../../data/L2.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13271 entries, 0 to 13270
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Công lập (1/0)  13271 non-null  int64
 1   Tỉnh/TP         13271 non-null  object
 2   Tổ hợp môn      13235 non-null  object
 3   Điểm chuẩn      13037 non-null  float64
 4   Học phí         13271 non-null  int64
 5   tên ccta        13271 non-null  object
 6   điểm ccta       13271 non-null  object
 7   điểm quy đổi    13271 non-null  float64
 8   hk10            13271 non-null  int64
 9   hk11            13271 non-null  int64
 10  hk12            13271 non-null  int64
 11  hl10            13271 non-null  int64
 12  hl11            13271 non-null  float64
 13  hl12            13271 non-null  float64
 14  nhom_nganh      13271 non-null  int64
 15  ma_xet_tuyen    13271 non-null  object
dtypes: float64(4), int64(7), object(5)
memory usage: 1.6+ MB

In [3]:
# Drop rows with Diem chuan is null
df = df.dropna(subset=['Điểm chuẩn'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13037 entries, 0 to 13270
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Công lập (1/0)  13037 non-null  int64
 1   Tỉnh/TP         13037 non-null  object
 2   Tổ hợp môn      13037 non-null  object
 3   Điểm chuẩn      13037 non-null  float64
 4   Học phí         13037 non-null  int64
 5   tên ccta        13037 non-null  object
 6   điểm ccta       13037 non-null  object
 7   điểm quy đổi    13037 non-null  float64
 8   hk10            13037 non-null  int64
 9   hk11            13037 non-null  int64
 10  hk12            13037 non-null  int64
 11  hl10            13037 non-null  int64
 12  hl11            13037 non-null  float64
 13  hl12            13037 non-null  float64
 14  nhom_nganh      13037 non-null  int64
 15  ma_xet_tuyen    13037 non-null  object
dtypes: float64(4), int64(7), object(5)
memory usage: 1.7+ MB

In [4]:
df = df.drop(df[df["Tổ hợp môn"] == "HocBa"].index)
df[df["điểm ccta"] != 0]

,Công lập (1/0),Tỉnh/TP,Tổ hợp môn,Điểm chuẩn,Học phí,tên ccta,điểm ccta,điểm quy đổi,hk10,hk11,hk12,hl10,hl11,hl12,nhom_nganh,ma_xet_tuyen
2021,1,TP. Hồ Chí Minh,D01,15.0,19500000,CEFR,B2,1.0,0,0,0,0,0.0,0.0,721,DSG7210402THPTQG
2022,1,TP. Hồ Chí Minh,D02,15.0,19500000,CEFR,B2,1.0,0,0,0,0,0.0,0.0,721,DSG7210402THPTQG
2023,1,TP. Hồ Chí Minh,D03,15.0,19500000,CEFR,B2,1.0,0,0,0,0,0.0,0.0,721,DSG7210402THPTQG
2024,1,TP. Hồ Chí Minh,D04,15.0,19500000,CEFR,B2,1.0,0,0,0,0,0.0,0.0,721,DSG7210402THPTQG
2025,1,TP. Hồ Chí Minh,D05,15.0,19500000,CEFR,B2,1.0,0,0,0,0,0.0,0.0,721,DSG7210402THPTQG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10531,1,Đồng Tháp,VNUHCM,701.0,0,0,0,0.0,0,0,0,0,0.0,1.0,714,SPD7140219ĐGNL
10540,1,Đồng Tháp,VNUHCM,780.0,0,0,0,0.0,0,0,0,0,0.0,1.0,714,SPD7140231ĐGNL
10545,1,Đồng Tháp,VNUHCM,701.0,0,0,0,0.0,0,0,0,0,0.0,1.0,714,SPD7140246ĐGNL
10551,1,Đồng Tháp,VNUHCM,701.0,0,0,0,0.0,0,0,0,0,0.0,1.0,714,SPD7140247ĐGNL
10556,1,Đồng Tháp,VNUHCM,701.0,0,0,0,0.0,0,0,0,0,0.0,1.0,714,SPD7140249ĐGNL

In [5]:
df[(df["điểm ccta"] != 0) & (df["điểm quy đổi"] != 0)]["ma_xet_tuyen"].unique()

array(['DSG7210402THPTQG', 'DSG7340101THPTQG', 'DSG7480201THPTQG',
       'DSG7510203THPTQG', 'DSG7510301THPTQG', 'DSG7510302THPTQG',
       'DSG7540101THPTQG', 'DSG7580201THPTQG', 'QSC7140101ĐGNL',
       'QSC7140101THPTQG', 'QSC7140114ĐGNL', 'QSC7140114THPTQG',
       'QSC7210213ĐGNL', 'QSC7210213THPTQG', 'QSC7220201_CLCĐGNL',
       'QSC7220201_CLCTHPTQG', 'QSC7220201_LKHTHPTQG', 'QSC7220201ĐGNL',
       'QSC7220201THPTQG', 'QSC7220202ĐGNL', 'QSC7220202THPTQG',
       'QSC7220203ĐGNL', 'QSC7220203THPTQG', 'QSC7220204_CLCĐGNL',
       'QSC7220204_CLCTHPTQG', 'QSC7220204_LKTTHPTQG', 'QSC7220204ĐGNL',
       'QSC7220204THPTQG', 'QSC7220205_CLCTHPTQG', 'QSC7220205ĐGNL',
       'QSC7220205THPTQG', 'QSC7220205CLCĐGNL', 'QSC7220206ĐGNL',
       'QSC7220206THPTQG', 'QSC7220208ĐGNL', 'QSC7220208THPTQG',
       'QSC7229001ĐGNL', 'QSC7229001THPTQG', 'QSC7229009ĐGNL',
       'QSC7229009THPTQG', 'QSC7229010ĐGNL', 'QSC7229010THPTQG',
       'QSC7229020ĐGNL', 'QSC7229020THPTQG', 'QSC7229030ĐGNL',
       'QSC7229030THPTQG', 'QSC7229040ĐGNL', 'QSC7229040THPTQG',
       'QSC7310206_CLCĐGNL', 'QSC7310206_CLCTHPTQG',
       'QSC7310206_LKDTHPTQG', 'QSC7310206ĐGNL', 'QSC7310206THPTQG',
       'QSC7310301ĐGNL', 'QSC7310301THPTQG', 'QSC7310302ĐGNL',
       'QSC7310302THPTQG', 'QSC7310401ĐGNL', 'QSC7310401THPTQG',
       'QSC7310403ĐGNL', 'QSC7310403THPTQG', 'QSC7310501ĐGNL',
       'QSC7310501THPTQG', 'QSC7310601ĐGNL', 'QSC7310601THPTQG',
       'QSC7310608ĐGNL', 'QSC7310608THPTQG', 'QSC7310613_CLCĐGNL',
       'QSC7310613_CLCTHPTQG', 'QSC7310613ĐGNL', 'QSC7310613THPTQG',
       'QSC7310614ĐGNL', 'QSC7310614THPTQG', 'QSC7310630ĐGNL',
       'QSC7310630THPTQG', 'QSC73106a1ĐGNL', 'QSC73106a1THPTQG',
       'QSC73106a2THPTQG', 'QSC73106a3THPTQG', 'QSC7320101_CLCĐGNL',
       'QSC7320101_CLCTHPTQG', 'QSC7320101_LKDTHPTQG', 'QSC7320101ĐGNL',
       'QSC7320101THPTQG', 'QSC7320104ĐGNL', 'QSC7320104THPTQG',
       'QSC7320201ĐGNL', 'QSC7320201THPTQG', 'QSC7320205ĐGNL',
       'QSC7320205THPTQG', 'QSC7320303ĐGNL', 'QSC7320303THPTQG',
       'QSC7340406ĐGNL', 'QSC7340406THPTQG', 'QSC7580112ĐGNL',
       'QSC7580112THPTQG', 'QSC7760101ĐGNL', 'QSC7760101THPTQG',
       'QSC7810103_CLCĐGNL', 'QSC7810103_CLCTHPTQG', 'QSC7810103ĐGNL',
       'QSC7810103THPTQG'], dtype=object)

In [6]:
rename_dict = {
    "Công lập (1/0)": "cong_lap",
    "Tỉnh/TP": "tinh_tp",
    "Tổ hợp môn": "to_hop_mon",
    "Điểm chuẩn": "diem_chuan",
    "Học phí": "hoc_phi",
    "tên ccta": "ten_ccta",
    "điểm ccta": "diem_ccta",
    "điểm quy đổi": "diem_quy_doi"
}

df = df.rename(columns=rename_dict)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12945 entries, 0 to 13270
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cong_lap      12945 non-null  int64
 1   tinh_tp       12945 non-null  object
 2   to_hop_mon    12945 non-null  object
 3   diem_chuan    12945 non-null  float64
 4   hoc_phi       12945 non-null  int64
 5   ten_ccta      12945 non-null  object
 6   diem_ccta     12945 non-null  object
 7   diem_quy_doi  12945 non-null  float64
 8   hk10          12945 non-null  int64
 9   hk11          12945 non-null  int64
 10  hk12          12945 non-null  int64
 11  hl10          12945 non-null  int64
 12  hl11          12945 non-null  float64
 13  hl12          12945 non-null  float64
 14  nhom_nganh    12945 non-null  int64
 15  ma_xet_tuyen  12945 non-null  object
dtypes: float64(4), int64(7), object(5)
memory usage: 1.7+ MB

In [8]:
df["nhom_nganh"].value_counts()

nhom_nganh
734    2492
751    1269
722    1133
731    1020
748     894
752     688
781     547
758     543
772     533
714     516
744     493
732     456
738     447
762     345
721     310
754     294
742     273
785     216
746     167
776      90
784      78
764      72
210      20
240      20
211       8
201       5
202       5
212       4
220       4
790       3
Name: count, dtype: int64

In [9]:
NTS01 =  ["QTKS1.1", "KTES1.1"]
NTS02 = ["KDQS2.1", "KTKS1.1", "MKTS2.1", "TCHS1.1"]

In [51]:
import re
TOKEN_MAP = {
    "NTS01": NTS01,
    "NTS02": NTS02
}

TOKEN_PATTERN = re.compile("|".join(map(re.escape, TOKEN_MAP.keys())))

def expand_ma(val: str):
    """Trả về list các giá trị ma_xet_tuyen sau khi thay token bằng từng phần tử trong list.
    Nếu không có token thì trả về [val] để giữ nguyên 1 dòng.
    """
    if pd.isna(val):
        return [val]
    val = str(val)
    m = TOKEN_PATTERN.search(val)
    if not m:
        return [val]  # không có token cần thay
    token = m.group(0)
    repl_list = TOKEN_MAP[token]
    return [val.replace(token, repl) for repl in repl_list]

df2 = df.copy()

df2["ma_xet_tuyen"] = df2["ma_xet_tuyen"].astype(str)

df2["ma_xet_tuyen"] = df2["ma_xet_tuyen"].apply(expand_ma)
df2 = df2.explode("ma_xet_tuyen", ignore_index=True)

In [52]:
df2[df2["ma_xet_tuyen"].str.contains("KTE")].head()

,cong_lap,tinh_tp,to_hop_mon,diem_chuan,hoc_phi,ten_ccta,diem_ccta,diem_quy_doi,hk10,hk11,hk12,hl10,hl11,hl12,nhom_nganh,ma_xet_tuyen
1550,1,TP. Hồ Chí Minh,HSA,27.5,25500000,0,0,0.0,2,2,2,0,0.0,0.0,731,FTU2KTES1.1ĐGNL
1554,1,TP. Hồ Chí Minh,VNUHCM,27.5,25500000,0,0,0.0,2,2,2,0,0.0,0.0,731,FTU2KTES1.1ĐGNL
1559,1,TP. Hồ Chí Minh,A00,28.0,30000000,0,0,0.0,2,2,2,0,0.0,0.0,201,FTU2KTES1.1THPTQG
1561,1,TP. Hồ Chí Minh,A01,27.5,30000000,0,0,0.0,2,2,2,0,0.0,0.0,201,FTU2KTES1.1THPTQG
1563,1,TP. Hồ Chí Minh,D01,27.5,30000000,0,0,0.0,2,2,2,0,0.0,0.0,201,FTU2KTES1.1THPTQG

In [53]:
ftu_map = {
    "KDQS2.1": 751,
    "KTES1.1": 731,
    "MKTS2.1": 734,
    "QTKS1.1": 734,
    "TCHS1.1": 734,
    "KTKS1.1": 734
}

def pick_group(code: str):
    if pd.isna(code): 
        return None
    code = str(code)
    for k, v in ftu_map.items():
        if k in code:
            return v
    return None

mapped = df2["ma_xet_tuyen"].apply(pick_group)
df2["nhom_nganh"] = mapped.fillna(df2["nhom_nganh"])

In [54]:
df2[df2["ma_xet_tuyen"].str.contains("KTE")].head()

,cong_lap,tinh_tp,to_hop_mon,diem_chuan,hoc_phi,ten_ccta,diem_ccta,diem_quy_doi,hk10,hk11,hk12,hl10,hl11,hl12,nhom_nganh,ma_xet_tuyen
1550,1,TP. Hồ Chí Minh,HSA,27.5,25500000,0,0,0.0,2,2,2,0,0.0,0.0,731.0,FTU2KTES1.1ĐGNL
1554,1,TP. Hồ Chí Minh,VNUHCM,27.5,25500000,0,0,0.0,2,2,2,0,0.0,0.0,731.0,FTU2KTES1.1ĐGNL
1559,1,TP. Hồ Chí Minh,A00,28.0,30000000,0,0,0.0,2,2,2,0,0.0,0.0,731.0,FTU2KTES1.1THPTQG
1561,1,TP. Hồ Chí Minh,A01,27.5,30000000,0,0,0.0,2,2,2,0,0.0,0.0,731.0,FTU2KTES1.1THPTQG
1563,1,TP. Hồ Chí Minh,D01,27.5,30000000,0,0,0.0,2,2,2,0,0.0,0.0,731.0,FTU2KTES1.1THPTQG

In [55]:
df2["nhom_nganh"].value_counts()

nhom_nganh
734.0    2512
751.0    1274
722.0    1133
731.0    1025
748.0     894
752.0     688
781.0     547
758.0     543
772.0     533
714.0     516
744.0     493
732.0     456
738.0     447
762.0     345
721.0     310
754.0     294
742.0     273
785.0     216
746.0     167
776.0      90
784.0      78
764.0      72
210.0      20
240.0      20
211.0       8
212.0       4
220.0       4
790.0       3
Name: count, dtype: int64

In [56]:
tlu_map = {
    "TLS101": 758,
    "TLS102": 758,
    "TLS104": 758,
    "TLS106": 748,
    "TLS107": 758,
    "TLS111": 751,
    "TLS114": 758,
    "TLS126": 748,
    "TLS203": 722,
    "TLS301": 738,
    "TLS402": 734,
    "TLS403": 734,
    "TLS404": 758,
    "TLS405": 734,
    "TLS407": 751,
}

def pick_group(code: str):
    if pd.isna(code): 
        return None
    code = str(code)
    for k, v in tlu_map.items():
        if k in code:
            return v
    return None

mapped = df2["ma_xet_tuyen"].apply(pick_group)
df2["nhom_nganh"] = mapped.fillna(df2["nhom_nganh"])

In [57]:
df2["nhom_nganh"].value_counts()

nhom_nganh
734.0    2524
751.0    1282
722.0    1137
731.0    1025
748.0     902
752.0     688
758.0     567
781.0     547
772.0     533
714.0     516
744.0     493
732.0     456
738.0     447
762.0     345
721.0     310
754.0     294
742.0     273
785.0     216
746.0     167
776.0      90
784.0      78
764.0      72
790.0       3
Name: count, dtype: int64

In [58]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12965 entries, 0 to 12964
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cong_lap      12965 non-null  int64
 1   tinh_tp       12965 non-null  object
 2   to_hop_mon    12965 non-null  object
 3   diem_chuan    12965 non-null  float64
 4   hoc_phi       12965 non-null  int64
 5   ten_ccta      12965 non-null  object
 6   diem_ccta     12965 non-null  object
 7   diem_quy_doi  12965 non-null  float64
 8   hk10          12965 non-null  int64
 9   hk11          12965 non-null  int64
 10  hk12          12965 non-null  int64
 11  hl10          12965 non-null  int64
 12  hl11          12965 non-null  float64
 13  hl12          12965 non-null  float64
 14  nhom_nganh    12965 non-null  float64
 15  ma_xet_tuyen  12965 non-null  object
dtypes: float64(5), int64(6), object(5)
memory usage: 1.6+ MB

In [59]:
print(df2["hk10"].value_counts())
print(df2["hk11"].value_counts())
print(df2["hk12"].value_counts())
print(df2["hl10"].value_counts())
print(df2["hl11"].value_counts())
print(df2["hl12"].value_counts())

hk10
0    12927
2       38
Name: count, dtype: int64
hk11
0    12927
2       38
Name: count, dtype: int64
hk12
0    12927
2       38
Name: count, dtype: int64
hl10
0    12965
Name: count, dtype: int64
hl11
0.0    12893
6.5       72
Name: count, dtype: int64
hl12
0.0    12420
1.0      239
2.0      183
6.5       72
7.0       51
Name: count, dtype: int64

In [60]:
mapping = {
    2.0: 6.5,
}
df2["hl12"] = df2["hl12"].astype(float)
df2['hl12'] = df2['hl12'].map(mapping).fillna(df2['hl12'])


df2.loc[df2['hl12'] == 6.5, 'hl12'] = 3
df2.loc[df2['hl12'] == 7.0, 'hl12'] = 2

df2["hl11"] = df2["hl11"].apply(lambda x: 2 if x == 6.5 else 0)

In [61]:
print(df2["hk10"].value_counts())
print(df2["hk11"].value_counts())
print(df2["hk12"].value_counts())
print(df2["hl10"].value_counts())
print(df2["hl11"].value_counts())
print(df2["hl12"].value_counts())

hk10
0    12927
2       38
Name: count, dtype: int64
hk11
0    12927
2       38
Name: count, dtype: int64
hk12
0    12927
2       38
Name: count, dtype: int64
hl10
0    12965
Name: count, dtype: int64
hl11
0    12893
2       72
Name: count, dtype: int64
hl12
0.0    12420
3.0      255
1.0      239
2.0       51
Name: count, dtype: int64

In [62]:
def add_diem_chuan_final(df: pd.DataFrame) -> pd.DataFrame:
    """
    Return a copy of df with:
      - y_base            = diem_chuan + diem_quy_doi   (điểm chuẩn gốc)
      - diem_chuan_final  = y_base - diem_quy_doi       (ngưỡng thật để so sánh)

    Assumptions:
      - For CCTA rows, recorded diem_chuan = base - diem_quy_doi.
      - For base rows, diem_quy_doi = 0.
    """
    
    out = df.copy()

    if 'diem_chuan' not in out.columns:
        raise ValueError("Missing 'diem_chuan' column in input DataFrame.")
    if 'diem_quy_doi' not in out.columns:
        out['diem_quy_doi'] = 0

    def _to_num(x):
        if pd.isna(x): return 0.0
        if isinstance(x, str):
            x = x.replace(',', '').replace('$', '').strip()
        try:
            return float(x)
        except Exception:
            return 0.0

    out['diem_chuan']   = out['diem_chuan'].map(_to_num)
    out['diem_quy_doi'] = out['diem_quy_doi'].map(_to_num)

    # Core logic
    out['y_base'] = out['diem_chuan']
    out['diem_chuan_final'] = out['diem_chuan'] - out['diem_quy_doi']

    if 'ten_ccta' in out.columns and 'diem_ccta' in out.columns:
        out['is_base_row'] = (
            (out['diem_quy_doi'] == 0) &
            (out['ten_ccta'].astype(str).isin(['0','', 'nan'])) &
            (out['diem_ccta'] == 0)
        )
    else:
        out['is_base_row'] = out['diem_quy_doi'] == 0

    base_miss = (out.loc[out['is_base_row'], 'diem_chuan_final'] - out.loc[out['is_base_row'], 'diem_chuan']).abs() > 1e-6
    if base_miss.any():
        print(f"[WARN] {int(base_miss.sum())} base rows have final != base (should be ==). Check input.")

    ccta_rows = out['diem_quy_doi'] > 0
    bad_ccta  = (out.loc[ccta_rows, 'diem_chuan_final'] >= out.loc[ccta_rows, 'diem_chuan'])
    if bad_ccta.any():
        print(f"[WARN] {int(bad_ccta.sum())} CCTA rows have final >= base. Verify 'diem_quy_doi' sign/values.")
            
    return out

In [63]:
candidate_list = add_diem_chuan_final(df2)

In [64]:
candidate_list

,cong_lap,tinh_tp,to_hop_mon,diem_chuan,hoc_phi,ten_ccta,diem_ccta,diem_quy_doi,hk10,hk11,hk12,hl10,hl11,hl12,nhom_nganh,ma_xet_tuyen,y_base,diem_chuan_final,is_base_row
0,1,An Giang,VNUHCM,617.00,14100000,0,0,0.0,0,0,0,0,0,0.0,714.0,QSA7140201ĐGNL,617.00,617.00,True
1,1,An Giang,VNUHCM,635.00,14100000,0,0,0.0,0,0,0,0,0,0.0,714.0,QSA7140205ĐGNL,635.00,635.00,True
2,1,An Giang,VNUHCM,614.00,14100000,0,0,0.0,0,0,0,0,0,0.0,714.0,QSA7140202ĐGNL,614.00,614.00,True
3,1,An Giang,VNUHCM,831.00,14100000,0,0,0.0,0,0,0,0,0,0.0,714.0,QSA7140209ĐGNL,831.00,831.00,True
4,1,An Giang,VNUHCM,688.00,14100000,0,0,0.0,0,0,0,0,0,0.0,714.0,QSA7140211ĐGNL,688.00,688.00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12960,1,TP. Hồ Chí Minh,D15,27.85,15000000,0,0,0.0,0,0,0,0,0,0.0,722.0,VHS7229040THPTQG,27.85,27.85,True
12961,1,TP. Hồ Chí Minh,C00,25.50,15000000,0,0,0.0,0,0,0,0,0,0.0,722.0,VHS7229040THPTQG,25.50,25.50,True
12962,1,TP. Hồ Chí Minh,D01,25.50,15000000,0,0,0.0,0,0,0,0,0,0.0,722.0,VHS7229040THPTQG,25.50,25.50,True
12963,1,TP. Hồ Chí Minh,D09,25.50,15000000,0,0,0.0,0,0,0,0,0,0.0,722.0,VHS7229040THPTQG,25.50,25.50,True
12964,1,TP. Hồ Chí Minh,D15,25.50,15000000,0,0,0.0,0,0,0,0,0,0.0,722.0,VHS7229040THPTQG,25.50,25.50,True

In [96]:
import re, numpy as np, pandas as pd

for c in ['diem_chuan_final', 'hoc_phi']:
    if c in pairs.columns:
        pairs[c] = pd.to_numeric(pairs[c], errors='coerce')

# chuẩn hóa học bạ: số nhỏ = tốt; 0/NaN => 10; candidate 10 = "không yêu cầu"
HB = ['hk10','hk11','hk12','hl10','hl11','hl12']
for col in HB:
    if col in candidate_list.columns:
        candidate_list[col] = candidate_list[col].astype(str).str.extract(r'(\d+\.?\d*)')[0].astype(float)
        candidate_list[col] = candidate_list[col].fillna(10).replace(0, 10)
candidate_list

,cong_lap,tinh_tp,to_hop_mon,diem_chuan,hoc_phi,ten_ccta,diem_ccta,diem_quy_doi,hk10,hk11,hk12,hl10,hl11,hl12,nhom_nganh,ma_xet_tuyen,y_base,diem_chuan_final,is_base_row
0,1,An Giang,VNUHCM,617.00,14100000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,714.0,QSA7140201ĐGNL,617.00,617.00,True
1,1,An Giang,VNUHCM,635.00,14100000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,714.0,QSA7140205ĐGNL,635.00,635.00,True
2,1,An Giang,VNUHCM,614.00,14100000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,714.0,QSA7140202ĐGNL,614.00,614.00,True
3,1,An Giang,VNUHCM,831.00,14100000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,714.0,QSA7140209ĐGNL,831.00,831.00,True
4,1,An Giang,VNUHCM,688.00,14100000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,714.0,QSA7140211ĐGNL,688.00,688.00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12960,1,TP. Hồ Chí Minh,D15,27.85,15000000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,722.0,VHS7229040THPTQG,27.85,27.85,True
12961,1,TP. Hồ Chí Minh,C00,25.50,15000000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,722.0,VHS7229040THPTQG,25.50,25.50,True
12962,1,TP. Hồ Chí Minh,D01,25.50,15000000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,722.0,VHS7229040THPTQG,25.50,25.50,True
12963,1,TP. Hồ Chí Minh,D09,25.50,15000000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,722.0,VHS7229040THPTQG,25.50,25.50,True
12964,1,TP. Hồ Chí Minh,D15,25.50,15000000,0,0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,722.0,VHS7229040THPTQG,25.50,25.50,True

In [97]:
candidate_list.to_excel("../../../data/L2_uni_requirement.xlsx", index=False)

In [ ]:
import numpy as np
import pandas as pd

def filter_candidates_per_student(
    student_df: pd.DataFrame,
    candidate_df: pd.DataFrame,
    neg_pos_ratio: int = 3,
    hard_filters=None,
    stu_budget_col: str = 'hoc_phi',
    cand_tuition_col: str = 'hoc_phi',
    default_budget: float = np.inf
) -> pd.DataFrame:
    """
    Build (user, candidate) pairs for LightGBM ranking.

    Assumes candidate_df already has 'diem_chuan_final' (true cutoff after CCTA fix).
    Uses student's budget = student_df[stu_budget_col] and candidate's tuition = candidate_df[cand_tuition_col].

    Adds features:
      - cand_margin      = student_diem_chuan - cand_diem_chuan_final
      - cand_budget_ok   = 1 if tuition <= budget
      - cand_budget_diff = budget - tuition
    """
    if hard_filters is None:
        # IMPORTANT: do NOT include any fee column here
        hard_filters = ['tinh_tp', 'to_hop_mon', 'cong_lap', 'nhom_nganh']

    if 'diem_chuan_final' not in candidate_df.columns:
        raise ValueError("candidate_df missing 'diem_chuan_final' (run CCTA normalization first)")

    # ----- copies & dtype normalization -----
    cand = candidate_df.copy()
    cand['hoc_phi'] = pd.to_numeric(cand[cand_tuition_col], errors='coerce') if cand_tuition_col in cand.columns else np.nan

    stu = student_df.copy()
    stu['budget_max'] = pd.to_numeric(stu[stu_budget_col], errors='coerce') if stu_budget_col in stu.columns else default_budget
    if 'diem_chuan' in stu.columns:
        stu['diem_chuan'] = pd.to_numeric(stu['diem_chuan'], errors='coerce').fillna(0)

    cand_records = cand.to_dict('records')  # each is a dict of scalars
    cand_cols = set(cand.columns)
    stu_cols  = set(stu.columns)

    rows = []
    for _, stu_row in stu.iterrows():
        budget = float(stu_row.get('budget_max', default_budget))
        if not np.isfinite(budget) or pd.isna(budget):
            budget = default_budget

        # ---- hard filters (no hoc_phi equality) ----
        filtered = cand_records
        for k in hard_filters:
            if (k in stu_cols) and (k in cand_cols):
                v = stu_row.get(k)
                filtered = [cr for cr in filtered if cr.get(k) == v]

        # ---- budget filter ----
        filtered = [cr for cr in filtered if pd.notna(cr.get('hoc_phi')) and float(cr['hoc_phi']) <= budget]
        np.random.shuffle(filtered)

        suitable, not_suitable = [], []
        stu_score = float(stu_row.get('diem_chuan', 0.0))

        for cand_row in filtered:
            cutoff_final = float(cand_row.get('diem_chuan_final', 0.0))
            margin = stu_score - cutoff_final

            tuition = float(cand_row.get('hoc_phi', np.nan))
            budget_ok  = int(pd.notna(tuition) and tuition <= budget)
            budget_diff = (budget - tuition) if (pd.notna(tuition) and np.isfinite(budget)) else np.nan

            # Optional: transcript constraints (compare scalar↔scalar only if both present)
            hb_cols = ['hk10','hk11','hk12','hl10','hl11','hl12']
            ok_hb = True
            for col in hb_cols:
                s_val = pd.to_numeric(stu_row.get(col, np.nan), errors='coerce')
                c_val = pd.to_numeric(cand_row.get(col, np.nan), errors='coerce')
                if pd.notna(s_val) and pd.notna(c_val) and s_val > c_val:
                    ok_hb = False
                    break

            # Final label
            is_match = (margin >= 0) and bool(budget_ok) and ok_hb

            row = {}
            row.update({f'student_{k}': v for k, v in stu_row.items()})
            row.update({f'cand_{k}':    v for k, v in cand_row.items()})
            row['cand_diem_chuan_final'] = cutoff_final
            row['cand_margin'] = margin
            row['cand_budget_ok'] = budget_ok
            row['cand_budget_diff'] = budget_diff
            row['label'] = int(is_match)

            (suitable if is_match else not_suitable).append(row)

        rows.extend(suitable)
        if not_suitable:
            k = min(len(suitable) * neg_pos_ratio, len(not_suitable))
            if k > 0:
                rows.extend(np.random.choice(not_suitable, size=k, replace=False).tolist())

    return pd.DataFrame(rows)

In [66]:
import random
from typing import Optional

def generate_simple_synthetic(
    student_profile: pd.DataFrame,
    n_synthetic: int = 5,
    random_state: Optional[int] = 42,
    score_col: str = "diem_chuan",   # điểm của học sinh
    budget_col: str = "hoc_phi",     # ngân sách học sinh trong input ban đầu
) -> pd.DataFrame:
    """
    Tạo bản mở rộng student_profile gồm 1 dòng gốc + n_synthetic dòng nhiễu cho mỗi học sinh.
    - Giữ đúng thang điểm theo kỳ thi (THPT: 0–30, VSAT: 0–450, ĐGNL: 0–1200).
    - Đổi 'hoc_phi' của học sinh thành 'budget_max' (ngân sách), không nhầm với học phí của candidate.
    - Random chứng chỉ CEFR/JLPT như khả năng học sinh có.

    Trả về DataFrame có cột:
      - score_col (điểm HS sau nhiễu), budget_max (ngân sách), ten_ccta, diem_ccta, hl*/hk*, synthetic ∈ {origin, synthetic}
    """
    rng = random.Random(random_state)

    # Một ít bước nhiễu cho từng thang điểm (không cố định, chỉ là set tham khảo)
    thpt_incs = [rng.uniform(0.1, 5)  for _ in range(10)]
    vsat_incs = [rng.uniform(1, 100)  for _ in range(10)]
    dgnl_incs = [rng.uniform(1, 300)  for _ in range(10)]

    cefr_levels = ["A1", "A2", "B1", "B2", "C1", "C2"]
    jlpt_levels = ["N1", "N2", "N3", "N4", "N5"]

    def _num(x, default=0.0):
        try:
            return float(str(x).replace(",", "").replace("$", "").strip())
        except Exception:
            return default

    rows = []
    for _, row in student_profile.iterrows():
        code = str(row.get("ma_xet_tuyen", ""))

        # --- DÒNG GỐC ---
        origin = row.copy()
        # budget_max = ngân sách của học sinh (lấy từ budget_col)
        origin["budget_max"] = _num(origin.get(budget_col, 0))
        origin["synthetic"] = "origin"
        rows.append(origin)

        # --- DÒNG NHIỄU ---
        for _ in range(n_synthetic):
            new_row = row.copy()

            # 1) Điểm học sinh (score_col) – nhiễu theo kỳ thi
            val = _num(row.get(score_col, 0))
            if "THPT" in code:
                inc_list, lo, hi = thpt_incs, 0, 30
            elif "VSAT" in code:
                inc_list, lo, hi = vsat_incs, 0, 450
            elif "ĐGNL" in code or "DGNL" in code:
                inc_list, lo, hi = dgnl_incs, 0, 1200
            else:
                # Fallback: coi như THPT
                inc_list, lo, hi = thpt_incs, 0, 30

            if inc_list:
                inc = rng.choice(inc_list)
                sign = rng.choice([-1, 1])
                candidate = val + sign * inc
                # ép về miền hợp lệ
                if candidate < lo or candidate > hi:
                    candidate = val - sign * inc
                    if candidate < lo or candidate > hi:
                        candidate = max(lo, min(hi, val))
                new_val = candidate
            else:
                new_val = val
            new_row[score_col] = new_val

            # Ngân sách học sinh -> budget_max (KHÁC học phí trường)
            # Tạo nhiễu quanh ngân sách, giữ >= 0
            fee_val = _num(row.get(budget_col, 0))
            delta = rng.randint(10_000_000, 30_000_000)
            sign = rng.choice([-1, 1])
            fee_candidate = fee_val + sign * delta
            new_row["budget_max"] = max(0, fee_candidate)

            # Chứng chỉ ngoại ngữ mà học sinh có (tuỳ xác suất)
            ten_ccta = rng.choices(["CEFR", "JLPT", "0"], weights=[0.35, 0.25, 0.40])[0]
            if ten_ccta == "CEFR":
                diem_ccta = rng.choice(cefr_levels)
            elif ten_ccta == "JLPT":
                diem_ccta = rng.choice(jlpt_levels)
            else:
                ten_ccta = "0"
                diem_ccta = "0"
            new_row["ten_ccta"] = ten_ccta
            new_row["diem_ccta"] = diem_ccta

            # Điểm thành phần học bạ
            for col in ["hl10", "hl11", "hk10", "hk11", "hk12"]:
                new_row[col] = rng.choices([1, 2, 3, 4], weights=[0.4, 0.4, 0.1, 0.1])[0]
            new_row["hl12"] = rng.choices([1, 2, 3, 4, 5], weights=[0.3, 0.3, 0.3, 0.05, 0.05])[0]

            new_row["synthetic"] = "synthetic"
            rows.append(new_row)

    out = pd.DataFrame(rows)

    return out

In [67]:
student_profile_synthetic = generate_simple_synthetic(
    student_profile=df2)

In [68]:
student_profile_synthetic

,cong_lap,tinh_tp,to_hop_mon,diem_chuan,hoc_phi,ten_ccta,diem_ccta,diem_quy_doi,hk10,hk11,hk12,hl10,hl11,hl12,nhom_nganh,ma_xet_tuyen,budget_max,synthetic
0,1,An Giang,VNUHCM,617.000000,14100000,0,0,0.0,0,0,0,0,0,0.0,714.0,QSA7140201ĐGNL,14100000.0,origin
0,1,An Giang,VNUHCM,858.939956,14100000,0,0,0.0,3,2,3,1,2,2.0,714.0,QSA7140201ĐGNL,0.0,synthetic
0,1,An Giang,VNUHCM,407.256321,14100000,0,0,0.0,1,2,3,3,3,1.0,714.0,QSA7140201ĐGNL,31746997.0,synthetic
0,1,An Giang,VNUHCM,515.358231,14100000,0,0,0.0,1,1,4,1,2,3.0,714.0,QSA7140201ĐGNL,0.0,synthetic
0,1,An Giang,VNUHCM,362.599184,14100000,CEFR,A1,0.0,1,4,2,3,2,3.0,714.0,QSA7140201ĐGNL,0.0,synthetic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12964,1,TP. Hồ Chí Minh,D15,24.974000,15000000,CEFR,C1,0.0,4,2,2,1,2,2.0,722.0,VHS7229040THPTQG,30587938.0,synthetic
12964,1,TP. Hồ Chí Minh,D15,24.974000,15000000,CEFR,C1,0.0,2,1,2,2,1,3.0,722.0,VHS7229040THPTQG,0.0,synthetic
12964,1,TP. Hồ Chí Minh,D15,24.052356,15000000,CEFR,A1,0.0,2,2,2,2,3,5.0,722.0,VHS7229040THPTQG,43509157.0,synthetic
12964,1,TP. Hồ Chí Minh,D15,22.084173,15000000,0,0,0.0,1,2,2,2,4,2.0,722.0,VHS7229040THPTQG,35713632.0,synthetic
12964,1,TP. Hồ Chí Minh,D15,25.253994,15000000,CEFR,A1,0.0,2,1,1,2,2,3.0,722.0,VHS7229040THPTQG,0.0,synthetic

In [69]:
pairs = filter_candidates_per_student(
    student_profile_synthetic,
    candidate_list,                 
    stu_budget_col='budget_max',      
    cand_tuition_col='hoc_phi'     
)

In [70]:
pairs

,student_cong_lap,student_tinh_tp,student_to_hop_mon,student_diem_chuan,student_hoc_phi,student_ten_ccta,student_diem_ccta,student_diem_quy_doi,student_hk10,student_hk11,...,cand_hl12,cand_nhom_nganh,cand_ma_xet_tuyen,cand_y_base,cand_diem_chuan_final,cand_is_base_row,cand_margin,cand_budget_ok,cand_budget_diff,label
0,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,0.0,714.0,QSA7140202ĐGNL,614.00,614.00,True,3.00,1,0.0,1
1,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,0.0,714.0,QSA7140201ĐGNL,617.00,617.00,True,0.00,1,0.0,1
2,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,0.0,714.0,QSA7140213ĐGNL,623.00,623.00,True,-6.00,1,0.0,0
3,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,0.0,714.0,QSA7140209ĐGNL,831.00,831.00,True,-214.00,1,0.0,0
4,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,0.0,714.0,QSA7140211ĐGNL,688.00,688.00,True,-71.00,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241354,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,0.0,722.0,VHS7229040THPTQG,25.50,25.50,True,0.00,1,0.0,1
241355,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,0.0,722.0,VHS7229042THPTQG,25.85,25.85,True,-0.35,1,0.0,0
241356,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,0.0,722.0,VHS7229040THPTQG,27.85,27.85,True,-2.35,1,0.0,0
241357,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,0.0,722.0,VHS7229040THPTQG,26.30,26.30,True,-0.80,1,0.0,0
241358,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,0.0,722.0,VHS7229042THPTQG,27.25,27.25,True,-1.75,1,0.0,0

In [71]:
pairs.columns

Index(['student_cong_lap', 'student_tinh_tp', 'student_to_hop_mon',
       'student_diem_chuan', 'student_hoc_phi', 'student_ten_ccta',
       'student_diem_ccta', 'student_diem_quy_doi', 'student_hk10',
       'student_hk11', 'student_hk12', 'student_hl10', 'student_hl11',
       'student_hl12', 'student_nhom_nganh', 'student_ma_xet_tuyen',
       'student_budget_max', 'student_synthetic', 'cand_cong_lap',
       'cand_tinh_tp', 'cand_to_hop_mon', 'cand_diem_chuan', 'cand_hoc_phi',
       'cand_ten_ccta', 'cand_diem_ccta', 'cand_diem_quy_doi', 'cand_hk10',
       'cand_hk11', 'cand_hk12', 'cand_hl10', 'cand_hl11', 'cand_hl12',
       'cand_nhom_nganh', 'cand_ma_xet_tuyen', 'cand_y_base',
       'cand_diem_chuan_final', 'cand_is_base_row', 'cand_margin',
       'cand_budget_ok', 'cand_budget_diff', 'label'],
      dtype='object')

In [72]:
student_cols = [c for c in pairs.columns if c.startswith('student_')]
print("Số cột student_*:", len(student_cols), student_cols[:10])

n_students = pairs[student_cols].drop_duplicates().shape[0]
print("Số học sinh duy nhất (unique student profiles):", n_students)

Số cột student_*: 18 ['student_cong_lap', 'student_tinh_tp', 'student_to_hop_mon', 'student_diem_chuan', 'student_hoc_phi', 'student_ten_ccta', 'student_diem_ccta', 'student_diem_quy_doi', 'student_hk10', 'student_hk11']
Số học sinh duy nhất (unique student profiles): 11360

In [73]:
# Tạo GROUP_COL từ toàn bộ cột student_*
pairs = pairs.copy()
student_cols = [c for c in pairs.columns if c.startswith('student_')]

pairs['student_group'] = pd.util.hash_pandas_object(
    pairs[student_cols], index=False
).astype('int64')

print("Số group (student_group) sau khi hash:", pairs['student_group'].nunique())

# Loại group có < 2 ứng viên
grp_sizes = pairs.groupby('student_group').size()
pairs_rankable = pairs[pairs['student_group'].isin(grp_sizes[grp_sizes >= 2].index)].copy()
print("Còn lại groups >=2:", pairs_rankable['student_group'].nunique())

Số group (student_group) sau khi hash: 11360
Còn lại groups >=2: 10012

In [74]:
gc = 'student_group' 

# ≥2 ứng viên
gs = pairs.groupby(gc).size()
pairs_r = pairs[pairs[gc].isin(gs[gs >= 2].index)].copy()

# ≥1 positive và ≥1 negative
sum_pos = pairs_r.groupby(gc)['label'].sum()
sum_all = pairs_r.groupby(gc).size()
keep = sum_pos.between(1, sum_all-1)
pairs_r = pairs_r[pairs_r[gc].isin(keep[keep].index)].copy()

In [75]:
grp_sizes = pairs_r.groupby(gc).size()
print("items/user median:", grp_sizes.median(), "| p25:", grp_sizes.quantile(.25), "| p75:", grp_sizes.quantile(.75))
print("overall pos rate:", pairs_r['label'].mean())
print("positives/user median:", pairs_r.groupby(gc)['label'].sum().median())

items/user median: 16.0 | p25: 6.0 | p75: 38.0
overall pos rate: 0.5771668224504877
positives/user median: 9.0

In [50]:
pairs

,student_cong_lap,student_tinh_tp,student_to_hop_mon,student_diem_chuan,student_hoc_phi,student_ten_ccta,student_diem_ccta,student_diem_quy_doi,student_hk10,student_hk11,...,cand_nhom_nganh,cand_ma_xet_tuyen,cand_y_base,cand_diem_chuan_final,cand_is_base_row,cand_margin,cand_budget_ok,cand_budget_diff,label,student_group
0,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,714.0,QSA7140202ĐGNL,614.00,614.00,True,3.00,1,0.0,1,-7374590683454348292
1,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,714.0,QSA7140201ĐGNL,617.00,617.00,True,0.00,1,0.0,1,-7374590683454348292
2,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,714.0,QSA7140205ĐGNL,635.00,635.00,True,-18.00,1,0.0,0,-7374590683454348292
3,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,714.0,QSA7140211ĐGNL,688.00,688.00,True,-71.00,1,0.0,0,-7374590683454348292
4,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,0,0,...,714.0,QSA7140231ĐGNL,677.00,677.00,True,-60.00,1,0.0,0,-7374590683454348292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241354,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,722.0,UEF7220204THPTQG,16.00,16.00,False,9.50,1,15000000.0,1,-6251629588343424643
241355,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,722.0,VHS7229042THPTQG,27.25,27.25,True,-1.75,1,0.0,0,-6251629588343424643
241356,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,722.0,VHS7229040THPTQG,26.30,26.30,True,-0.80,1,0.0,0,-6251629588343424643
241357,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,722.0,VHS7229042THPTQG,25.85,25.85,True,-0.35,1,0.0,0,-6251629588343424643
241358,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,0,0,...,722.0,VHS7229040THPTQG,27.85,27.85,True,-2.35,1,0.0,0,-6251629588343424643

In [ ]:
import numpy as np

# Cols student_hk* and student_hl10, student_hl11 set randomly to 1, 2. student_hl12 set randomly to 1, 2, 3.
# 1 là trên 8; 2 là trên 6.5; 3 là trên 5.0; 4 là dưới 5.0
pairs['student_hk10'] = np.random.choice([1, 2, 3, 4], size=len(pairs), p=[0.47, 0.35, 0.15, 0.03])
pairs['student_hk11'] = np.random.choice([1, 2, 3, 4], size=len(pairs), p=[0.47, 0.35, 0.15, 0.03])
pairs['student_hk12'] = np.random.choice([1, 2, 3, 4], size=len(pairs), p=[0.47, 0.35, 0.15, 0.03])
pairs['student_hl10'] = np.random.choice([1, 2, 3, 4], size=len(pairs), p=[0.47, 0.35, 0.15, 0.03])
pairs['student_hl11'] = np.random.choice([1, 2, 3, 4], size=len(pairs), p=[0.47, 0.35, 0.15, 0.03])

# 1 là trên 8; 2 là trên 7; 3 là trên 6.5; 4 là trên 5.0; 5 là dưới 5.0
pairs['student_hl12'] = np.random.choice([1, 2, 3, 4, 5], size=len(pairs), p=[0.46, 0.36, 0.14, 0.03, 0.01])

In [77]:
pairs

,student_cong_lap,student_tinh_tp,student_to_hop_mon,student_diem_chuan,student_hoc_phi,student_ten_ccta,student_diem_ccta,student_diem_quy_doi,student_hk10,student_hk11,...,cand_nhom_nganh,cand_ma_xet_tuyen,cand_y_base,cand_diem_chuan_final,cand_is_base_row,cand_margin,cand_budget_ok,cand_budget_diff,label,student_group
0,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,3,2,...,714.0,QSA7140202ĐGNL,614.00,614.00,True,3.00,1,0.0,1,114214807213464701
1,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,2,3,...,714.0,QSA7140201ĐGNL,617.00,617.00,True,0.00,1,0.0,1,114214807213464701
2,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,2,2,...,714.0,QSA7140213ĐGNL,623.00,623.00,True,-6.00,1,0.0,0,114214807213464701
3,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,3,1,...,714.0,QSA7140209ĐGNL,831.00,831.00,True,-214.00,1,0.0,0,114214807213464701
4,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,1,1,...,714.0,QSA7140211ĐGNL,688.00,688.00,True,-71.00,1,0.0,0,114214807213464701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241354,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,1,2,...,722.0,VHS7229040THPTQG,25.50,25.50,True,0.00,1,0.0,1,4190084437345384581
241355,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,2,2,...,722.0,VHS7229042THPTQG,25.85,25.85,True,-0.35,1,0.0,0,4190084437345384581
241356,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,3,2,...,722.0,VHS7229040THPTQG,27.85,27.85,True,-2.35,1,0.0,0,4190084437345384581
241357,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,2,1,...,722.0,VHS7229040THPTQG,26.30,26.30,True,-0.80,1,0.0,0,4190084437345384581
241358,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,1,2,...,722.0,VHS7229042THPTQG,27.25,27.25,True,-1.75,1,0.0,0,4190084437345384581

In [79]:

transcript_cols = ['cand_hk10', 'cand_hk11', 'cand_hk12', 'cand_hl10', 'cand_hl11', 'cand_hl12']
pairs[transcript_cols] = pairs[transcript_cols].replace(0, 10)

In [80]:
pairs

,student_cong_lap,student_tinh_tp,student_to_hop_mon,student_diem_chuan,student_hoc_phi,student_ten_ccta,student_diem_ccta,student_diem_quy_doi,student_hk10,student_hk11,...,cand_nhom_nganh,cand_ma_xet_tuyen,cand_y_base,cand_diem_chuan_final,cand_is_base_row,cand_margin,cand_budget_ok,cand_budget_diff,label,student_group
0,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,3,2,...,714.0,QSA7140202ĐGNL,614.00,614.00,True,3.00,1,0.0,1,114214807213464701
1,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,2,3,...,714.0,QSA7140201ĐGNL,617.00,617.00,True,0.00,1,0.0,1,114214807213464701
2,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,2,2,...,714.0,QSA7140213ĐGNL,623.00,623.00,True,-6.00,1,0.0,0,114214807213464701
3,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,3,1,...,714.0,QSA7140209ĐGNL,831.00,831.00,True,-214.00,1,0.0,0,114214807213464701
4,1,An Giang,VNUHCM,617.0,14100000,0,0,0.0,1,1,...,714.0,QSA7140211ĐGNL,688.00,688.00,True,-71.00,1,0.0,0,114214807213464701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241354,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,1,2,...,722.0,VHS7229040THPTQG,25.50,25.50,True,0.00,1,0.0,1,4190084437345384581
241355,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,2,2,...,722.0,VHS7229042THPTQG,25.85,25.85,True,-0.35,1,0.0,0,4190084437345384581
241356,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,3,2,...,722.0,VHS7229040THPTQG,27.85,27.85,True,-2.35,1,0.0,0,4190084437345384581
241357,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,2,1,...,722.0,VHS7229040THPTQG,26.30,26.30,True,-0.80,1,0.0,0,4190084437345384581
241358,1,TP. Hồ Chí Minh,D15,25.5,15000000,0,0,0.0,1,2,...,722.0,VHS7229042THPTQG,27.25,27.25,True,-1.75,1,0.0,0,4190084437345384581

In [84]:
# student_budget_col làm tròn lên theo list [0, 10000000, 20000000, 40000000, 60000000, 80000000, 100000000, 200000000, 500000000]

def round_budget(x):
    if x <= 0:
        return 0
    elif x <= 10000000:
        return 10000000
    elif x <= 20000000:
        return 20000000
    elif x <= 40000000:
        return 40000000
    elif x <= 60000000:
        return 60000000
    elif x <= 80000000:
        return 80000000
    elif x <= 100000000:
        return 100000000
    elif x <= 200000000:
        return 200000000
    else:
        return 500000000

pairs['student_budget_max'] = pairs['student_budget_max'].apply(round_budget)

In [87]:
pairs['student_budget_max'].value_counts().sort_index()

student_budget_max
0             3055
10000000       911
20000000     27125
40000000     95745
60000000     93638
80000000     19702
100000000      488
200000000      291
500000000      404
Name: count, dtype: int64

In [88]:
# Giảm số lượng rows có student_budget_max = 500_000_000 xuống dưới 50, còn lại thay bằng 40_000_000 hoặc 60_000_000
idx_500m = pairs.index[pairs['student_budget_max'] == 500000000]
if len(idx_500m) > 50:
    idx_to_replace = np.random.choice(idx_500m, size=len(idx_500m)-50, replace=False)
    pairs.loc[idx_to_replace, 'student_budget_max'] = np.random.choice([40000000, 60000000], size=len(idx_to_replace))

# Giảm số lượng rows có student_budget_max = 200_000_000 xuống dưới 50, còn lại thay bằng 40000000 hoặc 60000000
idx_200m = pairs.index[pairs['student_budget_max'] == 200000000]
if len(idx_200m) > 50:
    idx_to_replace = np.random.choice(idx_200m, size=len(idx_200m)-50, replace=False)
    pairs.loc[idx_to_replace, 'student_budget_max'] = np.random.choice([40000000, 60000000], size=len(idx_to_replace))

In [89]:
pairs['student_budget_max'].value_counts().sort_index()

student_budget_max
0             3055
10000000       911
20000000     27125
40000000     96028
60000000     93950
80000000     19702
100000000      488
200000000       50
500000000       50
Name: count, dtype: int64

In [90]:
import re, numpy as np, pandas as pd

# chọn cột ngân sách của student
student_budget_col = 'student_budget_max' if 'student_budget_max' in pairs.columns else 'student_hoc_phi'

# ép kiểu số cho các cột chính
for c in ['student_diem_chuan', 'cand_diem_chuan_final', student_budget_col, 'cand_hoc_phi']:
    if c in pairs.columns:
        pairs[c] = pd.to_numeric(pairs[c], errors='coerce')

# tính margin & budget
pairs['cand_margin'] = pairs['student_diem_chuan'] - pairs['cand_diem_chuan_final']
pairs['cand_budget_ok']   = (pairs['cand_hoc_phi'] <= pairs[student_budget_col]).astype('int8')
pairs['cand_budget_diff'] = (pairs[student_budget_col] - pairs['cand_hoc_phi'])

# chuẩn hóa học bạ: số nhỏ = tốt; 0/NaN => 10; candidate 10 = "không yêu cầu"
HB = ['hk10','hk11','hk12','hl10','hl11','hl12']
for col in HB:
    s_col = f'student_{col}'
    c_col = f'cand_{col}'
    if s_col in pairs.columns:
        pairs[s_col] = pairs[s_col].astype(str).str.extract(r'(\d+\.?\d*)')[0].astype(float)
        pairs[s_col] = pairs[s_col].fillna(10).replace(0, 10)
    if c_col in pairs.columns:
        pairs[c_col] = pairs[c_col].astype(str).str.extract(r'(\d+\.?\d*)')[0].astype(float)
        pairs[c_col] = pairs[c_col].fillna(10).replace(0, 10)

# hb_ok: tất cả yêu cầu đều thỏa: (cand==10) hoặc (student <= cand)
hb_ok = pd.Series(True, index=pairs.index)
for col in HB:
    s_col = f'student_{col}'
    c_col = f'cand_{col}'
    if s_col in pairs.columns and c_col in pairs.columns:
        hb_ok &= ((pairs[c_col] == 10) | (pairs[s_col] <= pairs[c_col]))
pairs['hb_ok'] = hb_ok.astype('int8')

# label cuối
pairs['label'] = ((pairs['cand_margin'] >= 0) & (pairs['cand_budget_ok'] == 1) & (pairs['hb_ok'] == 1)).astype('int8')

In [95]:
pairs.columns

Index(['student_cong_lap', 'student_tinh_tp', 'student_to_hop_mon',
       'student_diem_chuan', 'student_hoc_phi', 'student_ten_ccta',
       'student_diem_ccta', 'student_diem_quy_doi', 'student_hk10',
       'student_hk11', 'student_hk12', 'student_hl10', 'student_hl11',
       'student_hl12', 'student_nhom_nganh', 'student_ma_xet_tuyen',
       'student_budget_max', 'student_synthetic', 'cand_cong_lap',
       'cand_tinh_tp', 'cand_to_hop_mon', 'cand_diem_chuan', 'cand_hoc_phi',
       'cand_ten_ccta', 'cand_diem_ccta', 'cand_diem_quy_doi', 'cand_hk10',
       'cand_hk11', 'cand_hk12', 'cand_hl10', 'cand_hl11', 'cand_hl12',
       'cand_nhom_nganh', 'cand_ma_xet_tuyen', 'cand_y_base',
       'cand_diem_chuan_final', 'cand_is_base_row', 'cand_margin',
       'cand_budget_ok', 'cand_budget_diff', 'label', 'student_group',
       'hb_ok'],
      dtype='object')

In [93]:
pairs['hb_ok'].value_counts()

hb_ok
1    238799
0      2560
Name: count, dtype: int64

In [94]:
pairs.to_excel("../../../data/train_l2_1.xlsx", index=False)

In [98]:
l2_uni = pd.read_excel("../../../data/l2_uni_requirement.xlsx")

In [119]:
student_input = [
    { 
        "diem_chuan": 800.0, 
        "hoc_phi": 40000000, 
        "cong_lap": 1, 
        "tinh_tp": "TP. Hồ Chí Minh", 
        "to_hop_mon": "VNUHCM", 
        "ten_ccta": "0", 
        "diem_ccta": "0", 
        "nhom_nganh": 714.0, 
        "hk10": "2", 
        "hk11": "2", 
        "hk12": "2", 
        "hl10": "2", 
        "hl11": "2", 
        "hl12": "2", 
    },
    { 
        "diem_chuan": 24.0, 
        "hoc_phi": 40000000, 
        "cong_lap": 1, 
        "tinh_tp": "TP. Hồ Chí Minh", 
        "to_hop_mon": "A00", 
        "ten_ccta": "0", 
        "diem_ccta": "0", 
        "nhom_nganh": 748.0, 
        "hk10": "2", 
        "hk11": "2", 
        "hk12": "2", 
        "hl10": "2", 
        "hl11": "2", 
        "hl12": "2", 
    },
    { 
        "diem_chuan": 21.0, 
        "hoc_phi": 40000000, 
        "cong_lap": 1, 
        "tinh_tp": "TP. Hồ Chí Minh", 
        "to_hop_mon": "A01", 
        "ten_ccta": "0", 
        "diem_ccta": "0", 
        "nhom_nganh": 748.0, 
        "hk10": "2", 
        "hk11": "2", 
        "hk12": "2", 
        "hl10": "2", 
        "hl11": "2", 
        "hl12": "2", 
    }
]
student_df = pd.DataFrame(student_input)

In [ ]:
import polars as pl
def test_to_X(student_info: pl.DataFrame, candidate_list: pl.DataFrame) -> pl.DataFrame:

    cand_tp = student_info['tinh_tp'].unique()
    cand_thm = student_info['to_hop_mon'].unique()
    cand_cl = student_info['cong_lap'].unique()
    cand_nn = student_info['nhom_nganh'].unique()

    candidate_uni = candidate_list[
        (candidate_list['tinh_tp'].is_in(cand_tp)) &
        (candidate_list['to_hop_mon'].is_in(cand_thm)) &
        (candidate_list['cong_lap'].is_in(cand_cl)) &
        (candidate_list['nhom_nganh'].is_in(cand_nn))
    ].copy()

    test_df = filter_candidates_per_student(
        student_info.to_pandas(),
        candidate_uni,
        stu_budget_col='hoc_phi',
        cand_tuition_col='hoc_phi'
    )
    return pl.DataFrame(test_df)

In [116]:
# object to str
l2_uni = l2_uni.astype(str)

AttributeError: 'DataFrame' object has no attribute 'astype'

In [121]:
student_df = pl.from_pandas(student_df)
# l2_uni = pl.from_pandas(l2_uni).with_columns([
#     pl.col("cong_lap").cast(pl.Int64),
#     pl.col("tinh_tp").cast(pl.Utf8),
#     pl.col("to_hop_mon").cast(pl.Utf8),
#     pl.col("diem_chuan").cast(pl.Float64),
#     pl.col("hoc_phi").cast(pl.Int64),
#     pl.col("ten_ccta").cast(pl.Utf8),
#     pl.col("diem_ccta").cast(pl.Utf8),
#     pl.col("diem_quy_doi").cast(pl.Float64),
#     pl.col("hk10").cast(pl.Int64),
#     pl.col("hk11").cast(pl.Int64),
#     pl.col("hk12").cast(pl.Int64),
#     pl.col("hl10").cast(pl.Int64),
#     pl.col("hl11").cast(pl.Int64),
#     pl.col("hl12").cast(pl.Float64),
#     pl.col("nhom_nganh").cast(pl.Int64),
#     pl.col("ma_xet_tuyen").cast(pl.Utf8)
# ])

In [124]:
test_df = test_to_X(student_df, l2_uni)

[{'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'VNUHCM', 'diem_chuan': 721.0, 'hoc_phi': 13500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 714, 'ma_xet_tuyen': 'NLS7140215ĐGNL', 'y_base': '721.0', 'diem_chuan_final': '721.0', 'is_base_row': 'True'}]
[{'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 18.0, 'hoc_phi': 31000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'HSU7480103THPTQG', 'y_base': '18.0', 'diem_chuan_final': '18.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 18.0, 'hoc_phi': 31000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'HSU7480107THPTQG', 'y_base': '18.0', 'diem_chuan_final': '18.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 18.0, 'hoc_phi': 32000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'HSU7480201THPTQG', 'y_base': '18.0', 'diem_chuan_final': '18.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 24.0, 'hoc_phi': 33500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'IUH7480108THPTQG', 'y_base': '24.0', 'diem_chuan_final': '24.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 22.0, 'hoc_phi': 33500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'IUH7480108CTHPTQG', 'y_base': '22.0', 'diem_chuan_final': '22.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 23.5, 'hoc_phi': 33500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'IUH7480201THPTQG', 'y_base': '23.5', 'diem_chuan_final': '23.5', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 22.0, 'hoc_phi': 33500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'IUH7480201CTHPTQG', 'y_base': '22.0', 'diem_chuan_final': '22.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 25.17, 'hoc_phi': 29600000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'PTIT27480201THPTQG', 'y_base': '25.17', 'diem_chuan_final': '25.17', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 24.68, 'hoc_phi': 29600000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'PTIT27480202THPTQG', 'y_base': '24.68', 'diem_chuan_final': '24.68', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 24.73, 'hoc_phi': 11746000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'UTC27480201THPTQG', 'y_base': '24.73', 'diem_chuan_final': '24.73', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.05, 'hoc_phi': 12000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'TLU2TLS106THPTQG', 'y_base': '17.05', 'diem_chuan_final': '17.05', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 18.25, 'hoc_phi': 10000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'TLU2TLS126THPTQG', 'y_base': '18.25', 'diem_chuan_final': '18.25', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 15.0, 'hoc_phi': 19500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DSG7480201THPTQG', 'y_base': '15.0', 'diem_chuan_final': '15.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 15.0, 'hoc_phi': 19500000, 'ten_ccta': 'CEFR', 'diem_ccta': 'B2', 'diem_quy_doi': 1.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DSG7480201THPTQG', 'y_base': '15.0', 'diem_chuan_final': '14.0', 'is_base_row': 'False'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 15.0, 'hoc_phi': 19500000, 'ten_ccta': 'CEFR', 'diem_ccta': 'B2', 'diem_quy_doi': 1.5, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DSG7480201THPTQG', 'y_base': '15.0', 'diem_chuan_final': '13.5', 'is_base_row': 'False'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 15.0, 'hoc_phi': 19500000, 'ten_ccta': 'CEFR', 'diem_ccta': 'B2', 'diem_quy_doi': 2.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DSG7480201THPTQG', 'y_base': '15.0', 'diem_chuan_final': '13.0', 'is_base_row': 'False'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 21.0, 'hoc_phi': 16500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DKC7480201THPTQG', 'y_base': '21.0', 'diem_chuan_final': '21.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 18.0, 'hoc_phi': 16500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DKC7480202THPTQG', 'y_base': '18.0', 'diem_chuan_final': '18.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.0, 'hoc_phi': 16500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DKC7480101THPTQG', 'y_base': '17.0', 'diem_chuan_final': '17.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 16.0, 'hoc_phi': 16500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DKC7480107THPTQG', 'y_base': '16.0', 'diem_chuan_final': '16.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 16.0, 'hoc_phi': 16500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DKC7480106THPTQG', 'y_base': '16.0', 'diem_chuan_final': '16.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 23.0, 'hoc_phi': 25600000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DCT7480201THPTQG', 'y_base': '23.0', 'diem_chuan_final': '23.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 20.0, 'hoc_phi': 25600000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DCT7480202THPTQG', 'y_base': '20.0', 'diem_chuan_final': '20.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.0, 'hoc_phi': 40000000, 'ten_ccta': 'CEFR', 'diem_ccta': 'B2', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'UEF7480103THPTQG', 'y_base': '17.0', 'diem_chuan_final': '17.0', 'is_base_row': 'False'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.0, 'hoc_phi': 40000000, 'ten_ccta': 'CEFR', 'diem_ccta': 'B2', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'UEF7480201THPTQG', 'y_base': '17.0', 'diem_chuan_final': '17.0', 'is_base_row': 'False'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.0, 'hoc_phi': 0, 'ten_ccta': 'CEFR', 'diem_ccta': 'C1', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'UEF7480103THPTQG', 'y_base': '17.0', 'diem_chuan_final': '17.0', 'is_base_row': 'False'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.0, 'hoc_phi': 0, 'ten_ccta': 'CEFR', 'diem_ccta': 'C1', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'UEF7480201THPTQG', 'y_base': '17.0', 'diem_chuan_final': '17.0', 'is_base_row': 'False'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 20.0, 'hoc_phi': 25000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'MBS7480101THPTQG', 'y_base': '20.0', 'diem_chuan_final': '20.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 20.0, 'hoc_phi': 25000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'MBS7480107THPTQG', 'y_base': '20.0', 'diem_chuan_final': '20.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 21.0, 'hoc_phi': 25000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'MBS7480201THPTQG', 'y_base': '21.0', 'diem_chuan_final': '21.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 18.0, 'hoc_phi': 13200000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'HHK7480201THPTQG', 'y_base': '18.0', 'diem_chuan_final': '18.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 20.0, 'hoc_phi': 29400000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'GTS7480102ATHPTQG', 'y_base': '20.0', 'diem_chuan_final': '20.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 21.5, 'hoc_phi': 29400000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'GTS748020101ATHPTQG', 'y_base': '21.5', 'diem_chuan_final': '21.5', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 21.5, 'hoc_phi': 29400000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'GTS748020104ATHPTQG', 'y_base': '21.5', 'diem_chuan_final': '21.5', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 18.0, 'hoc_phi': 29400000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'GTS748020105ATHPTQG', 'y_base': '18.0', 'diem_chuan_final': '18.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.0, 'hoc_phi': 29400000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'GTS748020106ATHPTQG', 'y_base': '17.0', 'diem_chuan_final': '17.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 260.0, 'hoc_phi': 25000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'MBS7480101VSAT', 'y_base': '260.0', 'diem_chuan_final': '260.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 270.0, 'hoc_phi': 25000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'MBS7480107VSAT', 'y_base': '270.0', 'diem_chuan_final': '270.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 280.0, 'hoc_phi': 25000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'MBS7480201VSAT', 'y_base': '280.0', 'diem_chuan_final': '280.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 17.5, 'hoc_phi': 16400000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DTM7480201THPTQG', 'y_base': '17.5', 'diem_chuan_final': '17.5', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 15.0, 'hoc_phi': 16400000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'DTM7480104THPTQG', 'y_base': '15.0', 'diem_chuan_final': '15.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 24.8, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480202THPTQG', 'y_base': '24.8', 'diem_chuan_final': '24.8', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 26.23, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480201_02THPTQG', 'y_base': '26.23', 'diem_chuan_final': '26.23', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 25.4, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480201THPTQG', 'y_base': '25.4', 'diem_chuan_final': '25.4', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 25.5, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480201_03THPTQG', 'y_base': '25.5', 'diem_chuan_final': '25.5', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 23.8, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480107_02THPTQG', 'y_base': '23.8', 'diem_chuan_final': '23.8', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 25.0, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480101THPTQG', 'y_base': '25.0', 'diem_chuan_final': '25.0', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 25.43, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480103THPTQG', 'y_base': '25.43', 'diem_chuan_final': '25.43', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 24.7, 'hoc_phi': 35000000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'KSA7480107_01THPTQG', 'y_base': '24.7', 'diem_chuan_final': '24.7', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 22.25, 'hoc_phi': 15500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'NLS7480201THPTQG', 'y_base': '22.25', 'diem_chuan_final': '22.25', 'is_base_row': 'True'}, {'cong_lap': 1, 'tinh_tp': 'TP. Hồ Chí Minh', 'to_hop_mon': 'A00', 'diem_chuan': 21.25, 'hoc_phi': 15500000, 'ten_ccta': '0', 'diem_ccta': '0', 'diem_quy_doi': 0.0, 'hk10': 10, 'hk11': 10, 'hk12': 10, 'hl10': 10, 'hl11': 10, 'hl12': 10.0, 'nhom_nganh': 748, 'ma_xet_tuyen': 'NLS7480104THPTQG', 'y_base': '21.25', 'diem_chuan_final': '21.25', 'is_base_row': 'True'}]

In [112]:
test_df

shape: (4, 33)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ student_d ┆ student_h ┆ student_c ┆ student_t ┆ … ┆ cand_ma_x ┆ cand_y_ba ┆ cand_diem ┆ cand_is_ │
│ iem_chuan ┆ oc_phi    ┆ ong_lap   ┆ inh_tp    ┆   ┆ et_tuyen  ┆ se        ┆ _chuan_fi ┆ base_row │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ nal       ┆ ---      │
│ f64       ┆ i64       ┆ i64       ┆ str       ┆   ┆ str       ┆ str       ┆ ---       ┆ str      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ str       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 24.0      ┆ 40000000  ┆ 1         ┆ TP. Hồ    ┆ … ┆ UEF748010 ┆ 17.0      ┆ 17.0      ┆ False    │
│           ┆           ┆           ┆ Chí Minh  ┆   ┆ 3THPTQG   ┆           ┆           ┆          │
│ 24.0      ┆ 40000000  ┆ 1         ┆ TP. Hồ    ┆ … ┆ UEF748020 ┆ 17.0      ┆ 17.0      ┆ False    │
│           ┆           ┆           ┆ Chí Minh  ┆   ┆ 1THPTQG   ┆           ┆           ┆          │
│ 21.0      ┆ 40000000  ┆ 1         ┆ TP. Hồ    ┆ … ┆ UEF748010 ┆ 17.0      ┆ 17.0      ┆ False    │
│           ┆           ┆           ┆ Chí Minh  ┆   ┆ 3THPTQG   ┆           ┆           ┆          │
│ 21.0      ┆ 40000000  ┆ 1         ┆ TP. Hồ    ┆ … ┆ UEF748020 ┆ 17.0      ┆ 17.0      ┆ False    │
│           ┆           ┆           ┆ Chí Minh  ┆   ┆ 1THPTQG   ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘